* {
  box-sizing: border-box;
}

body {
  background-color: #EDEFF0;
  font-family: "Lato";
}

.container {
  max-width: 1140px;
  margin: auto;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #EDEFF0;
  font-family: "Lato";
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  background-color: #262D33;
}

.navbar__logo {
  max-height: 40px;
  max-width: 163px;
}

.navbar__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__fixed {
  display: flex;
  align-items: center;
}

.navbar__ul {
  max-width: 540px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.navbar__button {
  padding: 9px 64px;
  margin-left: 89px;
  max-height: 39px;
  background-color: #656B70;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.navbar__menu-button {
  display: none;
}

.content {
  padding-top: 30px;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 475px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.content__area {
  display: none;
  position: relative;
  max-width: 877px;
  max-height: 570px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.content__area-active {
  display: block;
}

.content__background {
  position: relative;
  object-fit: contain;
}

.content__avatar {
  position: absolute;
  top: 55px;
  left: 55px;
  border-radius: 50%;
}

.content__name {
  position: absolute;
  top: 59px;
  left: 110px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.85;
  margin: 0;
}

.content__pro {
  position: absolute;
  top: 81px;
  left: 110px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  opacity: 0.4;
}

.content-text {
  position: absolute;
  left: 55px;
  top: 245px;
  transform: translateY(-15%);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 598px;
}

.content-text__type {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4592FF;
}

.content-text__title {
  max-width: 598px;
  margin: 0;
  margin-top: 20px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
}

.content-text__button {
  margin-top: 50px;
  max-width: 156px;
  background: #4592FF;
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

.content__arrow {
  width: 20px;
  margin-left: 5px;
}

.content-tab {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 263px;
  max-height: 570px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  text-align: left;
}

.content-tab__title {
  margin: 0;
  padding-left: 25px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

.content-tab__ul {
  list-style: none;
  padding: 0;
}

.content-tab__heading {
  text-transform: uppercase;
  color: #3BBDC4;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 8px;
}

.content-tab__item {
  border-top: 1px solid #D9DADB;
  padding: 18px 25px;
  cursor: pointer;
}

.content-tab__item-active {
  background-color: #F5F5F5;
}

.content-tab__text {
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .navbar__logo {
    width: 125px;
    height: 50px;
  }
  .navbar__ul {
    gap: 25px;
  }
  .navbar__button {
    padding: 9px 50px;
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
  .navbar__logo {
    width: 100px;
    height: 25px;
  }
  .navbar__link {
    font-size: 12px;
  }
  .navbar__ul {
    gap: 15px;
  }
  .navbar__button {
    padding: 9px 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .navbar__fixed {
    display: none;
  }
  .navbar__fixed-visible {
    background-color: #262D33;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 68px;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%;
    padding-top: 30px;
  }
  .navbar__ul {
    flex-direction: column;
  }
  .navbar__button {
    margin: 0;
  }
  .navbar__menu-button {
    display: block;
  }
  .menu-button {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    background-color: #262D33;
    cursor: pointer;
  }
  .menu-button__line {
    position: absolute;
    display: block;
    width: 16px;
    height: 1px;
    background-color: #fff;
  }
  .menu-button__line::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 1px;
    background-color: #fff;
    transform: translateY(6px);
  }
  .menu-button__line::after {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 1px;
    background-color: #fff;
    transform: translateY(-6px);
  }
  .menu-button__line-active {
    height: 0;
  }
  .menu-button__line-active::before {
    height: 1px;
    transform: rotate(45deg);
    transition: 0.2s;
  }
  .menu-button__line-active::after {
    height: 1px;
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  .content__avatar {
    left: 40px;
  }
  .content__name {
    left: 95px;
  }
  .content__pro {
    left: 95px;
  }
  .content-text {
    left: 40px;
  }
  .content-text__title {
    font-size: 30px;
    line-height: 40px;
  }
  .content-text__type {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .content__area {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .content-wrapper {
    flex-direction: column;
  }
  .content__avatar {
    left: 20px;
  }
  .content__name {
    left: 75px;
  }
  .content__pro {
    left: 75px;
  }
  .content-text {
    left: 20px;
  }
  .content-tab {
    max-width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .content-tab__ul {
    display: flex;
    flex-direction: row;
  }
}
