@media (min-width: 1100px)
  .content
    &-tab
      &__item:hover
        background-color: #F5F5F5
  .advice
    &__item:hover
      transform: translateY(-15px)
      transition: 0.5s all
  .articles
    &-work:hover
      transform: translate(-5px,-5px)
      transition: 0.5s
    &-portfolio:hover
      transform: translate(-5px,-5px)
      transition: 0.5s
    &-instrument:hover
      transform: translate(-5px,-5px)
      transition: 0.5s
    &-references:hover
      transform: translate(-5px,-5px)
      transition: 0.5s
    &-clients:hover
      transform: translate(-5px,-5px)
      transition: 0.5s
    &-workplace:hover
      transform: translate(-5px,-5px)
      transition: 0.5s
    &-methods:hover
      transform: translate(-5px,-5px)
      transition: 0.5s
    &-tags
      &__button:hover
        background-color: darken(#fff, 20%)
    &-social
      &__link:hover
        transform: translateY(-15px)
        transition: 0.3s
  .news
    &-card:hover
      background-color: darken(#fff, 2%)
  .recent
    &-card:hover
      background-color: darken(#fff, 2%)
    &__button:hover
      background-color: darken(#fff, 2%)

@media (max-width: 1200px)
  .container
    max-width: 960px
  .navbar
    &__logo
      width: 125px
      height: 50px
    &__ul
      gap: 25px
    &__button
      padding: 9px 50px
      font-size: 12px
  .advice
    &__item
      padding-right: 20px
      padding-left: 15px
      font-size: 12px
      line-height: 15px
  .articles
    &-work
      &__image
        max-width: 190px
    &-comment
      justify-content: space-between
      &__logo
        margin: 0
      &__name
        font-size: 12px
        line-height: 15px
      &__text
        font-size: 12px
        line-height: 15px
      &__image
        margin: 0
    &-author
      max-width: 110px
      bottom: -4px
    &-download
      &__title
        font-size: 14px
        line-height: 20px
    &-instrument
      &__title
        margin-left: 15px
    &-references
      &__title
        font-size: 14px
        line-height: 20px
      &__text
        font-size: 12px
        line-height: 15px
      &__date
        font-size: 10px
    &-workplace
      &__title
        font-size: 14px
        line-height: 20px
      &__text
        font-size: 12px
        line-height: 15px
      &__date
        font-size: 10px
    &-clients
      &__title
        font-size: 14px
        line-height: 20px
      &__text
        font-size: 12px
        line-height: 15px
      &__date
        font-size: 10px
    &-methods
      &__title
        font-size: 14px
        line-height: 20px
      &__text
        font-size: 12px
        line-height: 15px
      &__date
        font-size: 10px
    &-tags
      &__button
        padding: 5px 10px
        margin-right: 4px
    &-social
      &__icon
        width: 45px
        height: 45px
@media (max-width: 992px)
  .container
    max-width: 760px
  .navbar
    &__logo
      width: 100px
      height: 25px
    &__link
      font-size: 12px
    &__ul
      gap: 15px
    &__button
      padding: 9px 20px
  .advice
    &__item
      padding-right: 15px
      padding-left: 10px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__fixed
      display: none
      &-visible
        background-color: $grey
        position: absolute
        right: 0
        left: 0
        bottom: 0
        top: 58px
        z-index: 999
        display: flex
        justify-content: flex-start
        flex-direction: column
        align-items: center
        margin: 0
        max-width: 100%
        padding-top: 30px
    &__ul
      flex-direction: column
    &__button
      margin: 0
    &__menu-button
      display: block
  .menu
    &-button
      display: block
      position: relative
      width: 16px
      height: 16px
      padding: 0
      border: none
      background-color: $grey
      cursor: pointer
      &__line
        position: absolute
        display: block
        width: 16px
        height: 1px
        background-color: #fff
      &__line::before
        content: ''
        position: absolute
        left: 0
        width: 16px
        height: 1px
        background-color: #fff
        transform: translateY(6px)
      &__line::after
        content: ''
        position: absolute
        left: 0
        width: 16px
        height: 1px
        background-color: #fff
        transform: translateY(-6px)
      &__line-active
        height: 0
      &__line-active::before
        height: 1px
        transform: rotate(45deg)
        transition: 0.2s
      &__line-active::after
        height: 1px
        transform: rotate(-45deg)
        transition: 0.2s
  .content
    &__avatar
      left: 40px
    &__name
      left: 95px
    &__pro
      left: 95px
    &-text
      left: 40px
      &__title
        font-size: 30px
        line-height: 40px
      &__type
        font-size: 15px
    &-tab
      overflow: auto
  .advice
    &__ul
      flex-wrap: wrap
    &__item
      padding-top: 10px
      padding-bottom: 10px
      border-right: none
      border-bottom: 1px solid #4B5157
    &__item:last-child
      padding-right: 15px
@media (max-width: 576px)
  .content
    &__area
      border-top-right-radius: 10px
      border-bottom-left-radius: 0px
    &-wrapper
      flex-direction: column
    &__avatar
      left: 20px
    &__name
      left: 75px
    &__pro
      left: 75px
    &-text
      left: 20px
    &-tab
      max-width: 100%
      border-top-right-radius: 0
      border-bottom-left-radius: 10px
      &__ul
        display: flex
        flex-direction: row
