.header
  background-color: $grey
  position: relative
  &-navbar
    &__logo
      max-height: 40px
      max-width: 163px
    &__wrapper
      padding-top: 15px
      padding-bottom: 15px
      display: flex
      justify-content: space-between
      align-items: center
    &__ul
      min-width: 540px
      list-style: none
      padding: 0
      display: flex
      justify-content: space-between
    &__link
      text-decoration: none
      color: #fff
      font-family: 'Lato'
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
    &__button
      background-color: #656B70
      border: none
      border-radius: 10px
      color: #fff
      padding: 9px 64px
      text-transform: uppercase
      font-family: 'Lato'
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      cursor: pointer
