.news
  padding-top: 60px
  padding-bottom: 60px
  position: relative
  &-wrap
    display: flex
    gap: 30px
  &-wrapper
    display: flex
    flex-direction: column

    &-left
      padding-left: 25px
      padding-right: 25px
      border-radius: 10px
      background-color: #fff
      overflow: hidden
      max-width: 850px
    &-right
      padding-top: 20px
      max-width: 263px
      background-color: #fff
      border-radius: 10px
      overflow: hidden
      max-height: 770px
  &-card
    padding-top: 25px
    padding-bottom: 25px
    position: relative
    display: flex
    align-items: center
    gap: 25px
    border-bottom: 1px solid #D9DADB
    cursor: pointer
    background-color: #fff
    &__link
      text-decoration: none
    &__wrapper
      display: flex
      flex-direction: column
      justify-content: space-between
      max-width: 437px
      height: 185px

    &__image
      width: 336px
      height: 195px
    &__bookmark
      position: absolute
      right: 0
      top: 25px
      cursor: pointer
      fill: red
    &__tag
      font-weight: 900
      font-size: 12px
      line-height: 15p
      color: #4592FF
      text-transform: uppercase
      &-purple
        color: #AC8EE3
      &-red
        color: #FF4F52
      &-wave
        color: #3BBDC4
      &-blue
        color: #4592FF
    &__title
      font-family: Roboto Slab
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 25px
      color: #262D33
      margin: 0
    &__text
      font-size: 14px
      line-height: 20px
      color: #4B5157
    &__info
      display: flex
      align-items: center

    &__date
      font-size: 12px
      line-height: 15px
      color: #939699
      margin-right: 10px
    &__ammount
      font-size: 12px
      line-height: 15px
      color: #939699
      margin-left: 5px
      margin-right: 10px
  &-card:last-child
    border-bottom: none
.recent
  &__title
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: #262D33
    text-align: center
    text-transform: uppercase
    border-bottom: 1px solid #D9DADB
    margin: 0
    padding-bottom: 19px
  &-card
    display: flex
    align-items: center
    padding: 17px 25px
    border-bottom: 1px solid #D9DADB
    cursor: pointer
    &__link
      text-decoration: none
    &__wrap
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 60px
      margin-left: 10px
    &__image
      width: 60px
      height: 60px
    &__title
      font-size: 14px
      line-height: 20px
      color: #4B5157
      margin: 0
    &__date
      font-size: 12px
      line-height: 15px
      color: #939699
  &__button
    padding: 11px 98px
    background-color: #fff
    text-align: center
    border: none
    cursor: pointer
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: #262D33
